<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reiners Tan-Generator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js" integrity="sha512-/I2PC0BuPX4pgUed1MB0BodK/Wn4LJw3b9NiQVZTau2HrACEmHMf/4qGBiIaFCJsgY5GX4JcsHTP0P2pfSimpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h3>
  Tan Liste from  __________________ for ________________________
</h3>
	  <a href="https://github.com/reinerBa/TAN-List-Generator/">Presented via github pages from this Repository</a>	  
<div id="app">
  <table>
    <tr v-for="item in 40"><td>{{item}}&emsp;</td>
    <td>{{ rand() }}</td>
  </tr>
  </table>
  <table>
    <tr v-for="item in 40">
      <td>{{item + 40 }}&emsp;</td>
      <td>{{ rand() }}</td>
    </tr>
  </table>
  <table>
    <tr v-for="item in 40">
      <td>{{item + 80 }}&emsp;</td>
      <td>{{ rand() }}</td>
    </tr>
  </table>
</div>
    

    <style>
      *{
        font-size: 14px;
        font-family: arial;
      }
      table{
        float:left;
      }
      </style>
    
    <script>
    new Vue({
	el: '#app',
    methods: {
  	rand(){
    // Code from https://stackoverflow.com/a/47496558
  		return [...Array(15)].map(() => Math.random().toString(36)[2]).join('').toUpperCase()
  	}
  }

});
    
    </script>
    </body>
</html>
